.card {
  max-width: 200px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 0.9rem;
}

.card p {
  font-size: 0.8rem;
  margin: 0;
}

.card .discount {
  padding: 0.2rem;
  background-color: #CC0C39;
  border-radius: 0.1rem;
  font-weight: 600;
  width: 50px;
}

.card .price {
  font-size: 1.2rem;
  font-weight: 600;
}